td {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  background-color: black;
}

.alive {
  background-color: green;
}

body {
  background-color: black;
}

table {
  border-spacing: 1px;
  background-color: gray;
}
